<%- include('./../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
  </head>
  <body>
    <%- include('./../includes/navigation.ejs') %>

    <main>
      <form action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST" class="product-form">
        
        <div class="form-control">
          <label for="title">Title</label>
          <input type="text" id="title" name="title" placeholder="Add product here ..." value="<% if (editing) { %><%= product.title %><% } %>" />
        </div>

        <div class="form-control">
          <label for="imageUrl">Image</label>
          <textarea type="text" id="imageUrl" name="imageUrl" placeholder="Add image here ..."><% if (editing) { %><%= product.imageUrl %><% } %></textarea>
        </div>

        <div class="form-control">
          <label for="description">Description</label>
          <textarea type="text" id="description" name="description" placeholder="Add description here ..."><% if (editing) { %><%= product.description %><% } %></textarea>
        </div>

        <div class="form-control">
          <label for="price">Price</label>
          <input type="number" step="0.01" id="price" name="price" placeholder="Add price here ..." value="<% if (editing) { %><%= product.price %><% } %>" />
        </div>

        <% if (editing) { %>
          <input type="hidden" name="productId" value="<%= product.id %>">
        <% } %>

        <button type="submit"><% if(editing) { %>Update Product<% } else { %>Add Product<% } %></button>
      </form>
    </main>
<%- include('./../includes/end.ejs') %>
